@import './multiselect';
@tailwind components;

@layer components {
  .btn-primary {
    @apply my-3 mr-2 inline-flex rounded-lg bg-rose-300 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-l hover:from-teal-300 hover:to-rose-300 focus:outline-none focus:ring-4 focus:ring-rose-300;
  }
}

:root {
  --primary-color: var(--color-rose-200);
  --secondary-color: var(--color-teal-200);

  --primary-color-darkened: var(--color-rose-300);
  --text-color: var(--color-slate-600);
  --secondary-text-color: var(--color-teal-800);

  --input-hover-color: var(--color-rose-50);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --shadow-color-second-layer: rgba(0, 0, 0, 0.1);
}
